body{
    color:white;
    background-color: pink;;
    position: relative;
    left:30vw;
    top:30vh;
    animation-name: color_change;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}
@keyframes color_change {
    0%{
        background-color: pink;
    }
    50%{
       background-color: rosybrown;
    }
    100%{
       background-color:rgb(214, 160, 160);
    }
}
.container{
    background-color: rgba(255,255,255,0.5);
    border-radius: 1.5em;
    width:35%;
    padding: 2em;
    position: relative;
    left: 15%;
    display: grid;
    grid-template-columns: 1fr,1fr;
    
}
.container div{
    margin:2em;
}
.container textarea{
    width: 100%;
    border-radius: 1.5em;
    background-color: rgba(255, 72, 185, 0.2);
    padding: 1em;
    position: relative;
    right: 1em;
}
.container button{
    width: 25%;
    /* left: 30%; */
    position: relative;
    left: 37.5%;
    border-radius: 0.5em;
    transition: 2s;
}
.container button:hover{
    transform: scale(1.2);
    background-color: pink;
    padding: 0.2em;
}
.container button:active{
    background-color: palevioletred;
}
.container label{
    color:black;
    margin: 2em;
    position: relative;
    left: 22%;
    right: 22%;
    bottom: 1em;
}
#result{
    background-color: beige;
    color:black;
    padding: 0.4em;
    text-align: center;
    border-radius: 1em;
}
.container h2{
    text-align: center;
    font-weight: bold;
    color:rgb(146, 79, 79);
    animation-name: letter;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes letter {
    100%{
        letter-spacing: 0.23em;
    }
}