body{
   background-color: chocolate;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{
    background-color: rgba(0,0,0,0.4);
    position: relative;
    top:8vh;
    width: 40vw;
    min-height: 50vh;
    border-radius: 2em;
    text-align: center;
    padding: 1.5em;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
@media screen(max-width:600px) {
    .container{
        bottom:4vh;
    }
    .container #result{
        padding-right: 1em;
    }
    
}

/*input section with label*/
.get-input{
   
    padding: 2em;
}

/*label*/
.get-input label{

    font-weight: bold;
    
}

/*input box*/
.get-input input{
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
    margin-right: 2em;
}

/*button*/
.container button{
    transition:1s;
    border-radius: 50em;
}
.container button:hover{
    color:black;
    background-color: aqua;
    text-shadow: 2px;
    transform: scale(1.2);
}

/*Result or output*/
.container #result{
    margin-top: 1.5em;
    color: black;
    width:20%;
    background:linear-gradient(to right,brown,rgb(255, 107, 8),brown);
    align-self: center;
    border-radius: 5px;
    padding: 0.5em;
}
/*Information about units*/
.container #info{
    display: flex;
    flex-direction: column;
}
.container #info div{
    margin: 0.3em;
}
